@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #131313;
    overflow-x: hidden;
}
#bottomOfPage {
    max-width: 100%;
}
#bottomOfPage h1 {
    max-width: 100%;
    overflow: hidden;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #c5c5c5;
}
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.timeline ul {
    margin: 0;
    padding: 0;
}
.timeline ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right ;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px; 
    width: 10px;
    height: 10px;
    background-color: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li:nth-child(even)::before {
    content: '';
    position: absolute; 
    top: 24px;
    left: -4px; 
    width: 10px;
    height: 10px;
    background-color: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}
.timeline ul li section {
    margin: 10px 0 0;
    padding: 0 ;
    color: #fff;
}
.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background-color:  rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px ;
    box-shadow: 0 0 0 3px  rgba(233, 33, 99, 0.3 );
}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background-color:  rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px ;
    box-shadow: 0 0 0 3px  rgba(233, 33, 99, 0.3 );
}
h1 {
    text-align: center;
    font-size: 60px;
    color: #fff;
}
#scrollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    display: none;
}
#scrollToTop i {
    font-size: 2em;
    color: cornflowerblue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#scrollToTop:hover i {
    font-size: 3em;
}
@media (max-width: 1000px) {
    .timeline {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }
    .timeline ul li .additional_imgs {
        display: none !important;
    }
    h1 {
         font-size: 40px;
         padding: 0 20px;
    }
    .timeline::before {
        left: 20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline ul li:nth-child(odd)::before,
    .timeline ul li:nth-child(even)::before {
        top: -18px;
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}
@media (max-width: 500px) {
    .timeline ul li .content section .circle {
        width: 100px;
        height: 100px;
    }
}
.timeline ul li .additional_imgs {
    position: absolute;
    top: 200px;
    bottom: 200px;
    width: calc(100% - 80px); 
    height: calc(100% - 400px);
    max-height: calc(100% - 400px);
    padding: 20px 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    text-align: left;
}
.timeline ul li:nth-child(odd) .additional_imgs {
    left: 100%;
}
.timeline ul li:nth-child(even) .additional_imgs {
    right: 100%;
}
.timeline ul li .additional_imgs .card {
    position: relative;
    width: 320px;
    height: 400px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.timeline ul li .additional_imgs .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
    transition-delay: 0.2s;
}
.timeline ul li .additional_imgs .card:hover .box {
    transform: rotateY(180deg);
} 
.timeline ul li .additional_imgs .card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.timeline ul li .additional_imgs .card .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.timeline ul li .additional_imgs .card .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.timeline ul li .additional_imgs .card .box .contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #fe0061, #ffeb3b);
    transform: translateZ(100px);
}
.timeline ul li .additional_imgs .card .box .contentBx div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
.timeline ul li .additional_imgs .card .box .contentBx div p {
    color: #fff;
    font-size: 16px;
}