section {
    position: relative;
    width: 100%;
    padding: 50px;
}
.circle {
    position: relative;
    overflow: hidden;
}
.circle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circle.circle1 {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.circle.circle2 {
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

section h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

section p {
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 1px;
}