<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/United/history.css">
    <link rel="stylesheet" href="/css/United/history-text-around.css">
</head>

<body>
    <h1>Pure CSS Timeline</h1>
    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h3>Những năm tháng đầu</h3>
                    <section>
                        <div class="circle circle2">
                            <img src="/imgs/History/1878-1909.jpg">
                        </div>
                        <div>
                            <p>
                                Năm 1878, Manchester United được thành lập từ bởi bộ phận "Toa hành khách" và "Toa trần"
                                của công ty đường sắt Lancashire and Yorkshire Railway (LYR)
                                với tên gọi Newton Heath LYR Football Club.
                                Khi đó không nhiều người sẽ nghĩ rằng họ có thể tạo được ảnh hưởng tại các giải đấu cấp
                                quốc gia, đặc biệt là các giải đấu quốc tế.
                                Các công nhân khi đó chỉ hòa vào niềm đam mê bóng đá bằng các trận đấu với các bộ phận
                                khác của LYR và đôi khi là các công ty đường sắt khác.
                            </p>
                            <p>
                                Năm 1888, khi giải vô địch quốc gia Anh được thành lập. Newton Heath tự nhận mình không
                                đủ tốt để trở thành đồng sáng lập giải đấu cùng với những Blackburn Rovers
                                và Preston North End. Thay vào đó, họ bắt đầu tham gia giải hạng nhất vào năm 1892. Đáng
                                buồn là chỉ sau 2 mùa giải, câu lạc bộ đã không thể trụ lại và
                                bị rơi xuống giải hạng nhì.
                            </p>
                            <p>
                                Đội
                            </p>
                        </div>
                    </section>
                </div>
                <div class="time">
                    <h4>1878 to 1909</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <section>
                        <div class="circle circle2">
                            <img src="/imgs/logo.png">
                        </div>
                        <div>
                            <h2>MARTIAL WINS PLAYERS' PLAYER OF THE YEAR</h2>
                            <p>
                                The striker delivered his best campaign yet in front of goal, netting 23 times in 48
                                appearances to
                                finish as the club's top scorer across all competitions.

                                The Frenchman was handed the no.9 shirt by Ole Gunnar Solskjaer last summer – an
                                indication that he
                                would be asked to spearhead the United attack – and has responded superbly to the
                                challenge.

                                And while fans voted for Bruno Fernandes to win the Sir Matt Busby Player of the Year
                                prize, Martial's
                                peers have chosen to honour his efforts.
                                The striker recently spoke to Inside United magazine, and credited Solskjaer's influence
                                on his
                                impressive 2019/20.
                            </p>
                        </div>
                    </section>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <section>
                        <div class="circle circle2">
                            <img src="/imgs/logo.png">
                        </div>
                        <div>
                            <h2>MARTIAL WINS PLAYERS' PLAYER OF THE YEAR</h2>
                            <p>
                                The striker delivered his best campaign yet in front of goal, netting 23 times in 48
                                appearances to
                                finish as the club's top scorer across all competitions.

                                The Frenchman was handed the no.9 shirt by Ole Gunnar Solskjaer last summer – an
                                indication that he
                                would be asked to spearhead the United attack – and has responded superbly to the
                                challenge.

                                And while fans voted for Bruno Fernandes to win the Sir Matt Busby Player of the Year
                                prize, Martial's
                                peers have chosen to honour his efforts.
                                The striker recently spoke to Inside United magazine, and credited Solskjaer's influence
                                on his
                                impressive 2019/20.
                            </p>
                        </div>
                    </section>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <section>
                        <div class="circle circle2">
                            <img src="/imgs/logo.png">
                        </div>
                        <div>
                            <h2>MARTIAL WINS PLAYERS' PLAYER OF THE YEAR</h2>
                            <p>
                                The striker delivered his best campaign yet in front of goal, netting 23 times in 48
                                appearances to
                                finish as the club's top scorer across all competitions.

                                The Frenchman was handed the no.9 shirt by Ole Gunnar Solskjaer last summer – an
                                indication that he
                                would be asked to spearhead the United attack – and has responded superbly to the
                                challenge.

                                And while fans voted for Bruno Fernandes to win the Sir Matt Busby Player of the Year
                                prize, Martial's
                                peers have chosen to honour his efforts.
                                The striker recently spoke to Inside United magazine, and credited Solskjaer's influence
                                on his
                                impressive 2019/20.
                            </p>
                        </div>
                    </section>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <section>
                        <div class="circle circle2">
                            <img src="/imgs/logo.png">
                        </div>
                        <div>
                            <h2>MARTIAL WINS PLAYERS' PLAYER OF THE YEAR</h2>
                            <p>
                                The striker delivered his best campaign yet in front of goal, netting 23 times in 48
                                appearances to
                                finish as the club's top scorer across all competitions.

                                The Frenchman was handed the no.9 shirt by Ole Gunnar Solskjaer last summer – an
                                indication that he
                                would be asked to spearhead the United attack – and has responded superbly to the
                                challenge.

                                And while fans voted for Bruno Fernandes to win the Sir Matt Busby Player of the Year
                                prize, Martial's
                                peers have chosen to honour his efforts.
                                The striker recently spoke to Inside United magazine, and credited Solskjaer's influence
                                on his
                                impressive 2019/20.
                            </p>
                        </div>
                    </section>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
    <div id="scrollToTop" onclick="goToTop();">
        <i class="fa fa-arrow-circle-up"></i>
    </div>
    <script src="/js/vanilla-tilt.min.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".timeline ul li .content section .circle"), {
            max: 25,
            speed: 400
        });
        window.onscroll = function () { scrollTrigger() };
        var scrollToTop = document.getElementById("scrollToTop")
        function scrollTrigger() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTop.style.display = "block";
            } else {
                scrollToTop.style.display = "none";
            }
        }
        function goToTop() {
            // window.body.scrollTop = 0;
            document.documentElement.scrollTop = 0
        }
    </script>
</body>

</html>